/* 1. RESET DASAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Font standar komputer */
}

body {
    background-color: #f4f4f4; /* Abu-abu muda */
    color: #333;
}

/* 2. LAYOUT UTAMA (Kiri Menu, Kanan Isi) */
.container {
    display: flex;
}

/* 4. KONTEN UTAMA (KANAN) */
.content {
    margin-top: -12px;
    flex-grow: 1;
    padding: 30px;
    margin-left: 280px;
}

.header {
    margin-bottom: 25px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* KARTU STATISTIK (Kotak-kotak atas) */
.stats-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border: 1px solid #ddd; /* Garis tepi tipis */
    border-radius: 8px;
    flex: 1; /* Lebar rata */
    text-align: center;
}

.card h3 { font-size: 30px; margin: 10px 0; color: #5d4ce5; }
.card p { font-size: 14px; color: #666; }

/* TOMBOL AKSI (Tulis, Rekam, Foto) */
.action-area {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.btn {
    flex: 1;
    padding: 15px;
    background: linear-gradient(90deg, #5d4ce5,#6c5ce7);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(90deg, #6c5ce7, #5d4ce5);
    transform: translateY(-2px);
    color: white;
}

/* TABEL SEDERHANA (Misi & Aktivitas) */
.bottom-section {
    display: flex;
    gap: 20px;
}

.box {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.box h3 { margin-bottom: 15px; border-bottom: 1px solid #eee; padding-bottom: 5px; }

.list-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

/* Bar Progress Sederhana */
.progress-bar {
    background: #eee;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.progress-fill {
    background: #27ae60; /* Hijau */
    height: 100%;
    border-radius: 5px;
}